.userdata{
  width: 100%;
  background-color: rgb(238, 233, 227);
  height: 0vh;
}
.mainuser{
  width: 70%;
  background-color: white;
  margin-left: 175px;
}




/* Customerstatususer.css */

.user-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 8px;
  margin-left: 175px;
  position: relative;
  bottom: 15px;
}

.user-table th,
.user-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tbody tr:hover {
  background-color: #ddd;
}
.tabilhead{
  color: rgb(49, 116, 240);
  font-family:fantasy;
}
.tdclass{
  color: rgb(75, 73, 73);
}
.scrollable-table {
  max-height: 90vh; 
  overflow-y: auto;
  overflow-x: hidden
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabilhead {
  color: rgb(49, 116, 240);
  font-family: fantasy;
}

.tdclass {
  color: rgb(75, 73, 73);
}
.searchbox{
  width: 70%;
  height: 50px;
  margin-left: 395px;
  text-align: end;
}
.searchbox  .alinesearch input{
  width: 220px;
  outline: none;
  border: 2px solid #007bff;
  height: 20px;
  padding: 0 10px;
  border-radius: 5px;
}
.searchbox  .alinesearch button{
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 0 5px;
}
.alinesearch{
  margin: 0px 10px;
  position: relative;
  top: 2px;
  right: 10px;
}

.tophead{
  text-align: center;
color: rgb(138, 135, 135);
font-size: 12pt;
position: relative;
top: 25px;
}
@media screen and (max-width: 1256px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 25px;
  }
}
@media screen and (max-width: 1191px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 55px;
  }
        ::placeholder{
      font-size: 9pt;
    }
}
@media screen and (max-width: 1098px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 75px;
  }
  
}
@media screen and (max-width: 1032px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 95px;
  }
  .searchbox{
    width: 60%;
    height: 50px;
    margin-left: 395px;
    text-align: end;
  }
  .tophead{
    text-align: start;
    margin-left: 185px;
  color: rgb(138, 135, 135);
  font-size: 12pt;
  position: relative;
  top: 25px;
  }
}
@media screen and (max-width: 942px) {
  .mainuser{
      width: 70%;
      height: 100vh;
      background-color: white;
      margin-left: 155px;
  }
  .user-table {
      width: 80%;
      border-collapse: collapse;
      margin-top: 10px;
      margin-left: 145px;
    }
    .tophead{
      text-align: start;
      margin-left: 150px;
    color: rgb(138, 135, 135);
    font-size: 12pt;
    position: relative;
    top: 25px;
    }
    ::placeholder{
      font-size: 9pt;
    }
}
@media screen and (max-width: 864px) {
  .tabilhead{
    color: rgb(49, 116, 240);
    font-family:fantasy;
    font-size: 9pt;
  }
  .tdclass{
    color: rgb(75, 73, 73);
    font-size: 9pt;
  }
  .tophead{
    text-align: start;
    margin-left: 150px;
  color: rgb(138, 135, 135);
  font-size: 10pt;
  position: relative;
  top: 25px;
  }
  .searchbox  .alinesearch input{
    width: 180px;
    outline: none;
    border: 2px solid #007bff;
    height: 20px;
    padding: 0 10px;
    border-radius: 5px;
  }
  .searchbox  .alinesearch button{
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0 5px;
  }
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 60px;
  }
@media screen and (max-width: 814px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 90px;
  }
  ::placeholder{
    font-size: 7pt;
  }
}
}
@media screen and (max-width: 740px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 110px;
  }
  .searchbox  .alinesearch input{
    width: 160px;
    outline: none;
    border: 2px solid #007bff;
    height: 20px;
    padding: 0 10px;
    border-radius: 5px;
  }
  .searchbox  .alinesearch button{
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0 5px;
  }
  ::placeholder{
    font-size: 7pt;
  }
}
@media screen and (max-width: 676px) {
  .tophead{
    text-align: start;
    margin-left: 150px;
  color: rgb(138, 135, 135);
  font-size: 10pt;
  position: relative;
  top: 25px;
  right: 85px;
  }
}
@media screen and (max-width: 695px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 140px;
  }
  .searchbox  .alinesearch input{
    width: 150px;
    outline: none;
    border: 2px solid #007bff;
    height: 20px;
    padding: 0 10px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 676px) {
  .user-table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 51px;
  }
}
@media screen and (max-width: 607px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 170px;
  }
}
@media screen and (max-width: 541px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 210px;
  }
}
@media screen and (max-width: 575px) {
  .tabilhead{
    color: rgb(49, 116, 240);
    font-family:fantasy;
    font-size: 8pt;
  }
  .tdclass{
    color: rgb(75, 73, 73);
    font-size: 8pt;
  }
}
@media screen and (max-width: 556px) {
  .user-table {
    width: 90%;
    border-collapse: collapse;
  }
 
}
@media screen and (max-width: 492px) {
  .user-table {
    width: 90%;
    border-collapse: collapse;
  }
  .tabilhead{
    color: rgb(49, 116, 240);
    font-family:fantasy;
    font-size: 7pt;
  }
  .tdclass{
    color: rgb(75, 73, 73);
    font-size: 7pt;
  }
}
@media screen and (max-width: 459px) {
  .user-table {
    width: 85%;
    border-collapse: collapse;
  }
}
@media screen and (max-width: 434px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 240px;
  }
}
@media screen and (max-width: 416px) {
  .user-table {
    width: 85%;
    border-collapse: collapse;
  }
  .tabilhead{
    color: rgb(49, 116, 240);
    font-family:fantasy;
    font-size: 6pt;
  }
  .tdclass{
    color: rgb(75, 73, 73);
    font-size: 6pt;
  }
}
@media screen and (max-width: 382px) {
.searchbox  .alinesearch input{
  width: 130px;
  outline: none;
  border: 2px solid #007bff;
  height: 18px;
  padding: 0 10px;
  border-radius: 5px;
}
.searchbox  .alinesearch button{
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 0 3px;
}
::placeholder{
  font-size: 7pt;
}
.tabilhead{
  color: rgb(49, 116, 240);
  font-family:fantasy;
  font-size: 4pt;
  margin-right: 5px;
}
}
@media screen and (max-width: 360px) {
  .alinesearch{
    margin: 0px 10px;
    position: relative;
    top: 2px;
    right: 245px;
  }
}